/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  width: 1270px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 400;
  background-color: #eaeef2;
}

nav {
  padding: 10px 5px;
  margin: 0 auto;
  max-width: 1270px;
} */
/* Reset styles */
/* Reset styles */
/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 400;
  background-color: #eaeef2;
}

/* Navbar styles */
nav {
  background-color: #391a4f;
  /* Purple color */
  color: white;
  /* Text color */
  padding: 10px;
  margin-bottom: 20px;
  /* Add bottom margin */
}

nav h1 {
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

nav a:hover {
  color: #ffc0cb;
  /* Light pink color on hover */
}

/* Button styles */
.btn {
  background-color: #391a4f;
  /* Purple color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #8a2be2;
  /* Darker purple color on hover */
}

/* Form styles */
.form-container {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

/* Card styles */
.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

/* Table styles */
.table {
  background-color: #fff5f5;
  /* Light pinkish color */
  border: 2px solid #391a4f;
  /* Darker purplish border */
  border-radius: 5px;
  margin: 20px;
}

.table th,
.table td {
  border: 2px solid #391a4f;
  /* Darker purplish border */
  padding: 8px;
}

.table th {
  background-color: #391a4f;
  /* Purple color */
  color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff5f5;
  /* Light pinkish color */
}

/* Store name color */
.table td:first-child {
  color: #4b0082;
  /* Dark purple color */
}

/* Link styles */
a {
  color: #6a0dad;
  /* Purple color */
}

a:hover {
  color: #4b0082;
  /* Dark purple color on hover */
}